body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column; 
}

.buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 20px;
}

.buttons button {
    user-select: none; 
    margin-bottom: 15px; 
    padding: 15px 7vw;
    font-size: 23px;
    background-color: #000000;
    color: white;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: grey;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
    transform: translateY(0);
}

body {
    overflow: hidden; 
}

body.slide-down {
    transform: translateY(100%); 
}
.back-button {
    user-select: none; 
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgb(0, 0, 0);
}

.dialog-box {
    width: 70%;
    height: 80%;
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff46;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 20px;
    overflow-y: auto;
    margin-left: 22%;
}

.dialog-box p {
    font-size: 20px; 
    line-height: 1.5; 
    white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {

    body, html{
     overflow: hidden; 
    }

    .dialog-box p {
     font-size: 14px;
     margin-top: -3px;
    
    }

    .buttons {
     flex-direction: row;
     top: 15px;
     left: 0px;
    }

    .buttons button {
     margin: 0 10px; 
     font-size: 16px;
     padding: 1vh 10vw;
     border-radius: 8px;
    }

    .dialog-box {
     width: 90%;
     height: 77%;
     padding: 10px;
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 10px;
     font-size: 10px;
     margin-bottom: 10px;
     transform: translateY(40px);
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    .dialog-text {
        padding: 40px;
        width: 85%;
    }

    .buttons{
        top: 60px;
        left: 15px;
    }

    .buttons button {
        display: inline-block; 
        padding: 13px 52px;
        text-indent: -5px; 
        font-size: 18px;
    }

    .dialog-box {
        margin-left: 26%;
        margin-right: 2%;
        font-size: 20px;
    }
    
}

@media only screen and (min-width:1820px) {
    .buttons button {
        padding: 20px 6vw;
        font-size: 35px;
        margin-top: 45px;
        margin-bottom: -20px;
    }
    .display-text-btn {
        top: 45px;
    }
    .back-button{
        padding: 30px 7vw;
        font-size: 40px;
    }
    .dialog-box {
        margin-right: 25px;
        width: 80%;
    }
    .dialog-box p {
        font-size: 40px;
        margin-top: 0px;
    }
}