/* 全局樣式設定，添加往下切換過渡效果 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; /* 終端機風格字體 */
    background-color: #000000; /* 深藍色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* 切換過渡 */
    transform: translateY(0);
}

/* 禁用整個頁面的滾動 */

body {
    height: 100vh;
    margin: 0;
    overflow: hidden; /* 禁用滾動條 */
} 

h1 {
    user-select: none; /* 禁用文字選取 */
    font-family: 'MurdererFont', sans-serif; /* 應用自訂字體到標題，並設定備用字體 */
    font-size: 12vh; /* 設置字體大小 */
    text-align: center; /* 標題居中 */
    letter-spacing:0.3em;
    overflow: hidden;
}

body.slide-down {
    transform: translateY(100%); /* 當應用向下過渡類時，頁面向下移出 */
}

/* 返回按鈕樣式 */
.back-button {
    user-select: none; /* 禁用文字選取 */
    position: absolute;
    top: 20px;
    left: 20px; /* 距離頁面左邊的距離 */
    padding: 12px 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:  2px solid #fcfcfc; /* 螢光綠邊框 */;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.089);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

@font-face {
    font-family: 'MurdererFont'; /* 自訂字體名稱 */
    src: url('fonts/MURDERER.TTF') format('truetype'); /* 字體文件路徑及格式 */
    font-display: block;
}

/* 設定訊息顯示區域的樣式 */
.right-click-message {
    cursor: pointer; /* 鼠標懸停時顯示為手型 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    display: none; /* 預設不顯示 */
    z-index: 1000;
    text-shadow: 
                2px 2px red, 
                -2px -2px blue, 
                1px 1px green; /* 創建扭曲的陰影效果 */
    letter-spacing:-0.1rem;
}

/* 手機裝置 */
@media only screen and (max-width: 768px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; /* 禁用滾動條 */
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 5px;
        margin-top: 5vh;
    }

    h1 {
        user-select: none; /* 禁用文字選取 */
        font-size: 6vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
    }

    .right-click-message {
        font-family: 'Arial', sans-serif; /* 選擇無襯線字型 */
        letter-spacing: 0.1em; /* 增加行距以避免文字擠在一起 */
        font-size: 15px;
        top: 65%;
        bottom: 25%;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; /* 禁用滾動條 */
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 3vw;
        font-size: 5vw;
        left: 3px;
        margin-top: 10vh;
    }

    h1 {
        font-size: 8vw;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
    }

}