body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; 
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
    transform: translateY(0);
}

body {
    background-color: #000000; 
    color: #ec5701; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}

.container {
    text-align: center;
}

h1 {
    font-family:'MurdererFont';
    user-select: none;
    font-family: 'MurdererFont', sans-serif; 
    font-size: 12vh; 
    text-align: center;
    letter-spacing:0.3em;
    overflow: hidden;
}

input[type="password"] {
    font-size: 50px;
    padding: 10px;
    border: 2px solid #ffffff; 
    background-color: #000000; 
    color: #fa5a10; 
    width: 300px; 
    text-align: center;
}

.back-button {
    user-select: none; 
    position: absolute;
    top: 20px;
    left: 20px; 
    padding: 12px 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:  2px solid #fcfcfc; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e0e0e086; 
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

body.slide-down {
    transform: translateY(100%); 
}


@font-face {
    font-family: 'MurdererFont'; 
    src: url('fonts/MURDERER.TTF') format('truetype'); 
    font-display: block;
}

.right-click-message {
    user-select: none; 
    cursor: pointer; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    display: none; 
    z-index: 1000;
    text-shadow: 
                2px 2px red, 
                -2px -2px blue, 
                1px 1px green; 
    letter-spacing:-0.1rem;
}

@media only screen and (max-width: 768px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden;
       }

     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 5px;
        margin-top: 5vh;
    }

    h1 {
        user-select: none; 
        font-size: 6vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
    }

    .right-click-message {
        font-family: 'Arial', sans-serif; 
        letter-spacing: 0.1em;
        font-size: 15px;
        top: 65%;
        bottom: 25%;
        right: 6%;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; 
       }

     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 3vw;
        font-size: 5vw;
        left: 3px;
        margin-top: 10vh;
    }

    h1 {
        font-size: 8vw;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
    }

}

@media only screen and (min-width:1920px) {
    .right-click-message {
        font-size: 4vh;
    }
    .back-button{
        left: 25px;
        padding: 15px 30px;
        font-size: 5vh;
    }
}