body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; 
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
    transform: translateY(0);
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
} 

h1 {
    user-select: none; 
    font-family: 'MurdererFont', sans-serif; 
    font-size: clamp(4em, 12vh, 90px);
    text-align: center; 
    text-shadow: 
    2px 2px red, 
    -2px -2px blue, 
    1px 1px green; 
    letter-spacing:0.3em;
    position: relative;
    animation: glitch 1s infinite;
}

h1::before, h1::after {
    font-family: 'MurdererFont', sans-serif; 
    content: "You cheated, didn't you?";
    position: absolute;
    color: #ff5e00; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

h1::before {
    left: -3px;
    text-shadow: -2px 0 red (132, 0, 255);
    clip: rect(24px, 1200px, 90px, 0);
    animation: glitch-top 1s infinite;
}

h1::after {
    left: 2px;
    text-shadow: -2px 0 blue;
    clip: rect(85px, 1200px, 140px, 0);
    animation: glitch-bottom 0.9s infinite;
}

@keyframes glitch {
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(2px, -2px);
    }
    60% {
        transform: translate(-2px, -2px);
    }
    80% {
        transform: translate(2px, 2px);
    }

}

@keyframes glitch-top {
    50% {
        clip: rect(0px, 2300px, 120px, 0);
        transform: translate(2px, 2px);
    }
    100% {
        clip: rect(25px, 2300px, 150px, 0);
        transform: translate(-1px, -1px);
    }    
}

@keyframes glitch-bottom {
    50% {
        clip: rect(45px, 2300px, 130px, 0);
        transform: translate(-2px, -2px);
    }
    100% {
        clip: rect(85px, 2300px, 140px, 0);
        transform: translate(1px, 1px);
    }
}

body.slide-down {
    transform: translateY(100%); 
}

.back-button {
    user-select: none; 
    position: absolute;
    top: 20px;
    left: 20px; 
    padding: 12px 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:  2px solid #fcfcfc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(202, 198, 198, 0.719);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.514);
}

.tooltip {
    user-select: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; 
    display: none;
    font: normal normal normal 14px / 1.4em proxima-n-w01-reg;
}

@font-face {
    font-family: 'MurdererFont'; 
    src: url('fonts/MURDERER.TTF') format('truetype'); 
    font-display: block;
}

@media only screen and (max-width: 768px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; 
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 5px;
        margin-top: 5vh;
    }

    h1 {
        user-select: none; 
        font-size: 5.3vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
        line-height: 1.8; 
        text-shadow: 1px 1px red, -1px -1px blue, 1px 1px green;
    }

    h1::before {
        text-shadow: -1px 0 red (132, 0, 255);
    }
    
    h1::after {
        text-shadow: -1px 0 blue;
        animation: glitch-bottom 1s infinite;
    }

    @keyframes glitch-top {
        50% {
            clip: rect(0px, 1200px, 120px, 0);
            transform: translate(2px, 2px);
        }
        100% {
            clip: rect(25px, 1200px, 150px, 0);
            transform: translate(-1px, -1px);
        }    
    }

    @keyframes glitch-bottom {
        50% {
            clip: rect(83px, 1200px, 130px, 0);
            transform: translate(-1px, -2px);
        }
        100% {
            clip: rect(88px, 1200px, 140px, 0);
            transform: translate(1px, 1px);
        }
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; 
       }

     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        user-select: none; 
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 3px;
        margin-top: 10vh;
    }

    h1 {
        text-shadow: 
        2px 2px red, 
        -2px -2px blue, 
        1px 1px green; 
        letter-spacing:0.3em;
        position: relative;
        animation: glitch 1s infinite;
    }

    h1::before {
        text-shadow: -2px 0 red (132, 0, 255);
    }
    
    h1::after {
        text-shadow: -2px 0 blue;
    }

    @keyframes glitch-top {
        50% {
            clip: rect(40px, 1200px, 120px, 0);
            transform: translate(2px, 2px);
        }
        100% {
            clip: rect(60px, 1200px, 150px, 0);
            transform: translate(-1px, -1px);
        }    
    }

    @keyframes glitch-bottom {
        50% {
            clip: rect(73px, 1200px, 130px, 0);
            transform: translate(-2px, -2px);
        }
        100% {
            clip: rect(80px, 1200px, 140px, 0);
            transform: translate(1px, 1px);
        }
    }

}

@media only screen and (min-width:1820px) {
    .back-button{
        padding: 15px 30px;
        font-size: 4vh;
    }
}