/* 全局樣式設定，添加往下切換過渡效果 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; /* 終端機風格字體 */
    background-color: #000000; /* 深藍色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* 切換過渡 */
    transform: translateY(0);
}

/* 禁用整個頁面的滾動 */

body {
    height: 100vh;
    margin: 0;
    overflow: hidden; /* 禁用滾動條 */
} 

h1 {
    font-family: 'MurdererFont', sans-serif; /* 應用自訂字體到標題，並設定備用字體 */
    font-size: 12vh; /* 設置字體大小 */
    text-align: center; /* 標題居中 */
    text-shadow: 
    2px 2px red, 
    -2px -2px blue, 
    1px 1px green; /* 創建扭曲的陰影效果 */
    letter-spacing:0.3em;
    position: relative;
    animation: glitch 1s infinite;
}

/* 創建多個不同層次的重影 */
h1::before, h1::after {
    font-family: 'MurdererFont', sans-serif; /* 應用自訂字體到標題，並設定備用字體 */
    content: "You cheated, didn't you?";
    position: absolute;
    color: #ff5e00; /* 螢光綠字體顏色 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

h1::before {
    left: -3px;
    text-shadow: -2px 0 red (132, 0, 255);
    clip: rect(24px, 1200px, 90px, 0);
    animation: glitch-top 1s infinite;
}

h1::after {
    left: 2px;
    text-shadow: -2px 0 blue;
    clip: rect(85px, 1200px, 140px, 0);
    animation: glitch-bottom 0.5s infinite;
}

/* 闪烁和抖动效果 */
@keyframes glitch {
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(2px, -2px);
    }
    60% {
        transform: translate(-2px, -2px);
    }
    80% {
        transform: translate(2px, 2px);
    }

}

/* 頂部和底部的偏移和閃爍 */
@keyframes glitch-top {
    50% {
        clip: rect(0px, 1200px, 120px, 0);
        transform: translate(2px, 2px);
    }
    100% {
        clip: rect(30px, 1200px, 150px, 0);
        transform: translate(-1px, -1px);
    }    
}

@keyframes glitch-bottom {
    50% {
        clip: rect(50px, 1200px, 130px, 0);
        transform: translate(-2px, -2px);
    }
    100% {
        clip: rect(85px, 1200px, 140px, 0);
        transform: translate(2px, 2px);
    }
}

body.slide-down {
    transform: translateY(100%); /* 當應用向下過渡類時，頁面向下移出 */
}

/* 返回按鈕樣式 */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px; /* 距離頁面左邊的距離 */
    padding: 12px 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:  2px solid #fcfcfc; /* 螢光綠邊框 */;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.089);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; /* 防止鼠標和提示框互動 */
    display: none; /* 初始隱藏 */
    font: normal normal normal 14px / 1.4em proxima-n-w01-reg;
}

@font-face {
    font-family: 'MurdererFont'; /* 自訂字體名稱 */
    src: url('fonts/MURDERER.TTF') format('truetype'); /* 字體文件路徑及格式 */
    font-display: block;
}


/* 手機裝置 */
@media only screen and (max-width: 768px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; /* 禁用滾動條 */
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 5px;
        margin-top: 5vh;
    }

    h1 {
        font-size: 5.3vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
        line-height: 1.8; /* 1.8倍字體大小的行高 */
    }

    /* 頂部和底部的偏移和閃爍 */
    @keyframes glitch-top {
        50% {
            clip: rect(0px, 1200px, 120px, 0);
            transform: translate(2px, 2px);
        }
        100% {
            clip: rect(25px, 1200px, 150px, 0);
            transform: translate(-1px, -1px);
        }    
    }

    @keyframes glitch-bottom {
        50% {
            clip: rect(73px, 1200px, 130px, 0);
            transform: translate(-2px, -2px);
        }
        100% {
            clip: rect(80px, 1200px, 140px, 0);
            transform: translate(1px, 1px);
        }
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; /* 禁用滾動條 */
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 3px;
        margin-top: 10vh;
    }

    h1 {
        font-size: 5.3vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
        line-height: 1.8; /* 1.8倍字體大小的行高 */
        text-shadow: 
        2px 2px red, 
        -2px -2px blue, 
        1px 1px green; /* 創建扭曲的陰影效果 */
        letter-spacing:0.3em;
        position: relative;
        animation: glitch 1s infinite;
    }

    h1::before {
        text-shadow: -2px 0 red (132, 0, 255);
    }
    
    h1::after {
        text-shadow: -2px 0 blue;
    }

    /* 頂部和底部的偏移和閃爍 */
    @keyframes glitch-top {
        50% {
            clip: rect(0px, 1200px, 120px, 0);
            transform: translate(2px, 2px);
        }
        100% {
            clip: rect(25px, 1200px, 150px, 0);
            transform: translate(-1px, -1px);
        }    
    }

    @keyframes glitch-bottom {
        50% {
            clip: rect(73px, 1200px, 130px, 0);
            transform: translate(-2px, -2px);
        }
        100% {
            clip: rect(80px, 1200px, 140px, 0);
            transform: translate(1px, 1px);
        }
    }

}