/* 全局樣式設定，添加往下切換過渡效果 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; /* 終端機風格字體 */
    background-color: #000000; /* 深藍色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* 切換過渡 */
    transform: translateY(0);
}

/* 禁用整個頁面的滾動 */

body {
    height: 100vh;
    margin: 0;
    overflow: hidden; /* 禁用滾動條 */
} 

h1 {
    font-family: 'MurdererFont', sans-serif; /* 應用自訂字體到標題，並設定備用字體 */
    font-size: 12vh; /* 設置字體大小 */
    text-align: center; /* 標題居中 */
    text-shadow: 
    2px 2px red, 
    -2px -2px blue, 
    1px 1px green; /* 創建扭曲的陰影效果 */
    letter-spacing:0.3em;
}

body.slide-down {
    transform: translateY(100%); /* 當應用向下過渡類時，頁面向下移出 */
}

/* 返回按鈕樣式 */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px; /* 距離頁面左邊的距離 */
    padding: 12px 30px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:  2px solid #fcfcfc; /* 螢光綠邊框 */;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.089);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; /* 防止鼠標和提示框互動 */
    display: none; /* 初始隱藏 */
    font: normal normal normal 14px / 1.4em proxima-n-w01-reg;
}

@font-face {
    font-family: 'MurdererFont'; /* 自訂字體名稱 */
    src: url('fonts/MURDERER.TTF') format('truetype'); /* 字體文件路徑及格式 */
}


/* 手機裝置 */
@media only screen and (max-width: 768px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    body, html{
        overflow: hidden; /* 禁用滾動條 */
       }

    /* 中央容器 */
     .container {
        text-align: center;
        margin: 5px;
    }

    .back-button {
        padding: 1vh 4vw;
        font-size: 8vw;
        left: 5px;
        margin-top: 5vh;
    }

    h1 {
        font-size: 5.3vh;
        letter-spacing: 0.3em;
        margin: 2vh;
        border: 5px solid transparent;
        margin-right: 5px;
        line-height: 1.8; /* 1.8倍字體大小的行高 */
    }
}
