body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'MV Boli', 'YouMurderer BB','CipherFontA'; 
    color:white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

h1 {
    user-select: none; 
    font-size: 3vw;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7vh solid transparent;
    border-right: 7vh solid transparent;
    border-bottom: 11.5vh solid #FFFFFF;
    position: absolute;
    top: 42%;
    transform: translateX(-50%); 
    display: none; 
}

.invisible {
    user-select: none; 
    visibility: hidden; 
}

.container {
    text-align: center;
}

#ps {
    padding: 2vh;
    font-size: 3vh;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    outline: none;
    text-align: center;
    max-width: 500px;
    max-height: 250px;
}

#submit {
    padding: 2vh 1.2vw;
    font-size: 3vh;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transition:  background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

}

#submit:hover {
    background-color: darkgray; 
    border-color: gray;         
    color: black;  
}

#submit:active {
    background-color: rgb(223, 223, 223);
    border-color: rgb(235, 235, 235);

}

#ps.error {
    border-color: red;
    background-color: #941414;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.text-item {
    user-select: none; 
    position: absolute;
    padding: 20px;
    font-size: 6vh;
    color: white;
    border: 2px solid transparent; 
    position: relative;
    margin: 3.5vh;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.text-item:hover {
    border-color: white; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

.text-item.clicked {
    animation: flash 0.3s ease; 
}

@keyframes flash {
    0% { background-color: rgba(255, 255, 255, 0.2); }
    50% { background-color: rgba(255, 255, 255, 0.4); }
    100% { background-color: rgba(255, 255, 255, 0.2); }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
    transform: translateY(0);
}

body.slide-up {
    transform: translateY(-100%); 
}

.text-item.error {
    box-shadow: 0 0 10px rgba(211, 8, 8, 0.5); 
    border-color: red; 
    background-color: #941414;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}


.text-item.shake {
    animation: shake 0.5s; 
}



@media only screen and (max-width: 768px) {

    @font-face {
        font-family: 'mvboliFont'; 
        src: url('fonts/mvboli.ttf') format('truetype'); 
    }

    body, html{
     font-family: 'MV Boli', 'YouMurderer BB', 'mvboliFont','CipherFontA'; 
     letter-spacing: 0.1em
    }

    h1 {
      font-size: 25px;
    }

    .triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 40px solid #FFFFFF;
        position: absolute;
        transform: translateX(-25%);
        display: none;
        top: 41%;
    }

    .text-item {
        font-size: 5.5vh;
        padding: 15px;
        margin: 3vh;
    }

    #ps {
     padding: 10px 10px;
     font-size: 16px;
     margin-left: 8px;
     width: 130px;
     margin-bottom: 10px;
    }

    #submit {
     margin-right: 5px;
     margin-left: 2px;
     padding: 10px 15px;
     font-size: 16px;
    }

}

@media only screen and (min-width: 769px) and (max-width:1024px) {

    @font-face {
        font-family: 'mvboliFont'; 
        src: url('fonts/mvboli.ttf') format('truetype'); 
    }

    body, html{
     font-family: 'MV Boli', 'mvboliFont','YouMurderer BB'; 
     letter-spacing: 0.3em
    }

    .text-item {
        padding: 20px;
        margin:2.5vh;
        margin-bottom:3.5vh;
    }
    
    #ps {
        padding: 1.5vh 5vw;
        font-size: 3.5vh;
        margin-left: 5px;
        width: 45vw;
        max-width: 450px;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    #submit {
        padding: 1.8vh 2.5vw;
        font-size: 3vh;
        border-radius: 8px;
        margin-left: 1.5vw;
    }

    h1 {
        font-size: clamp(3em, 4em, 70px);
    }

}